
.cropping {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  
  
}
.controls {
  position: relative;
  bottom: 100px;
  width: 90%;
  height: 80px;
}

.controls-upper-area {
  text-align: center;
}

.slider {
  width: 50%;
}

.button-area {
  text-align: center;
  margin-top: 20px;
  position: fixed;
  right: 0;
  justify-content: space-between;

}

.cropper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.cropper {
  width: 500px; /* Adjust as needed */
  height: 400px;
  height: 100%; /* Adjust as needed */
  border: 1px solid #ccc;
  margin: 10px;
  overflow: hidden;
}
col{
 
  text-align: center;
}